<title>myStories - API Document</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
	<h1>APIs</h1>
	<h2>Register and Access Token</h2>
	<p>Register A New User Account</p>
	<p>POST /register</p>
	<p>Body:</p>
	<textarea></textarea>
	<p>Registers new user account: POST /register</p>
	<p>Gets access token: POST /access</p>
	<h2>User Account</h2>
	<p>Gets list of all user accounts: GET /api/users</p>
	<p>Gets information of a specific user account: GET /api/users/:id?showPassword=true</p>
	<p>Updates user name or password: POST /api/users/:id (email is :id for an user account)</p>
	<p>Deletes an user account: DELETE /api/users/:id</p>
	<h2>Comment</h2>
	<p>Gets </p>
	<p>Get</p>
	<p>Creates comment:</p>
</body>
