html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

h3 {
  margin: 10px 0;
  padding: 0;
  font-size: 15px;
}

h4 {
  margin: 10px 0;
  padding: 0;
  font-size: 14px;
}

input[type="text"], input[type="password"] {
  outline: none;
  border: solid 1px #e6e6e6;
  padding: 5px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 13px;
  height: 30px;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="text"]:focus, input[type="password"]:focus {
  border-color: #b3b3b3;
}

input[type="button"] {
  border: 1px solid #b3b3b3;
  background-color: #fafafa;
  text-align: center;
  cursor: pointer;
  height: 30px;
}

input[type="button"]:focus {
  outline: none;
}

input[type="button"]:hover {
  background-color: #e6e6e6;
}

textarea {
  width: 100%;
  min-height: 100px;
  outline: none;
  border: solid 1px #e6e6e6;
  padding: 5px;
  font-size: 13px;
}

textarea:hover, textarea:focus {
  border-color: #b3b3b3;
}

select {
  outline: none;
  border: solid 1px #e6e6e6;
  padding: 5px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 13px;
  height: 30px;
  cursor: pointer;
}

select:hover, select:focus {
  border-color: #b3b3b3;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #000;
}

.text.small {
  min-width: 50px !important;
}

.text.right {
  text-align: right;
}

.text.only-border-bottom {
  border: none !important;
  border-bottom: solid 1px #e6e6e6 !important;
}

.text.only-border-bottom:hover {
  border-bottom-color: #b3b3b3 !important;
}

.width-full {
  width: 100%;
}

.width-small {
  width: 320px;
}