.i-input::after {
  content: "";
  display: table;
  clear: both;
}

.i-input span {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}

.i-input input {
  margin-right: 10px;
}

.i-input .i-input-button {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  width: 30px;
  display: block;
  margin-bottom: 10px;
  border: 1px solid #eee;
}

.i-input .i-input-button img {
  display: block;
  margin: 0 auto;
  opacity: 0.5;
  padding-top: 6px;
}

.i-input .i-input-button:hover {
  background-color: #fafafa;
}

.i-input .i-input-button img:hover {
  opacity: 1;
}