.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.9);
}

.overlay .overlay-box {
  position:absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  z-index: 5;
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.overlay .overlay-box.medium {
  width: 640px;
}

.overlay .overlay-box .overlay-box-header {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 10px;
}

.overlay .overlay-box .overlay-box-header h3 {
  margin: 0;
  float: left;
}

.overlay .overlay-box .overlay-box-header img {
  float: right;
  display: block;
  cursor: pointer;
  padding: 10px 5px 0 5px;
  opacity: 0.8;
}

.overlay .overlay-box .overlay-box-header img:hover {
  opacity: 1;
}

.overlay .overlay-box .overlay-box-content {
  padding: 10px;
  overflow: auto;
}

.overlay .overlay-box .overlay-box-content.medium {
  height: 650px;
}

.overlay .overlay-box .overlay-box-content.long {
  height: 800px;
}

.overlay .overlay-box .overlay-box-content h4 {
  margin: 20px 0 15px 0;
}