.tag-holder::after {
  content: "";
  display: table;
  clear: both;
}

.tag-holder .tag-item {
  border: 1px solid #eee;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  cursor: pointer;
  background-color: #fff;
}

.tag-holder .tag-item img {
  float: right;
  padding-top: 7px;
  padding-left: 10px;
  opacity: 0.5;
}

.tag-holder .tag-item img:hover {
  opacity: 1;
}