<template>
    <div class="avatar">
      <div class="avatar-circle">
        <img src="../assets/img/avatar.png" v-on:click="signout">
      </div>
    </div>
</template>

<style>
.avatar {
  position: absolute;
  bottom: 10px;
  color: #fff;
  font-size: 10px;
  width: 50px;
}

.avatar-circle {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.avatar-circle img {
  width: 100%;
  height: 100%;
}
</style>

<script>
export default {
  methods: {
    signout: function() {
      localStorage.removeItem("token")
      this.$router.push("/")
    }
  }
}
</script>