<template>
  <div id="wrapper">
    <side></side>
    <div id="main">
      <div class="toolbar">
        <div class="toolbar-item">
          <select>
            <option>Todo Daily</option>
            <option>Hello World</option>
          </select>
        </div>
        <div class="toolbar-item" v-show="showingSearch">
          <input type="text" placeholder="Search projects">
          <img src="../assets/icon/search.png">
          <img src="../assets/icon/close.png" v-on:click="showSearch(false)">
        </div>
        <div class="toolbar-item" v-on:click="showAddingNewCard" v-show="!showingSearch"><img src="../assets/icon/add.png"></div>
        <div class="toolbar-item" v-on:click="showSearch(true)" v-show="!showingSearch"><img src="../assets/icon/search.png"></div>
      </div>
      <card v-if="addingNewCard"></card>
    </div>
  </div>
</template>

<style>
#main {
  margin: 0;
  position: absolute;
  top: 0;
  left: 60px;
  right: 0;
  bottom: 0;
}

.toolbar {
  display: block;
  height: 60px;
  line-height: 60px;
  border-bottom: 3px solid #fafafa;
  margin: 0 20px;
}

.toolbar .toolbar-item {
  height: 100%;
  float: left;
  opacity: 0.9;
  display: block;
}

.toolbar .toolbar-item:hover {
  opacity: 1;
  cursor: pointer;
}

.toolbar .toolbar-item.right {
  float: right;
}

.toolbar .toolbar-item input[type="text"] {
  height: 40px;
  border: none;
  padding: 0 10px;
  background-color: #fafafa;
}

.toolbar .toolbar-item input[type="text"]:hover, .toolbar .toolbar-item input[type="text"]:focus {
  background-color: #f5f5f5;
}

.toolbar .toolbar-item img {
  margin: 0 8px;
  cursor: pointer;
  opacity: 0.7;
}

.toolbar .toolbar-item img:hover {
  opacity: 1;
}
</style>

<script>
import Side from './side.vue'
import Card from './card.vue'

export default {
  components: {
    Side,
    Card
  },
  mounted() {
    if (!localStorage.getItem('token')) {
      this.$router.push({
        name: 'home'
      })
    }
  },
  data() {
    return {
      addingNewCard: false,
      showingSearch: false
    }
  },
  methods: {
    showAddingNewCard: function() {
      this.addingNewCard = true;
    },
    showSearch: function(value) {
      this.showingSearch = value;
    }
  }
}
</script>