<template>
  <div class="overlay">
    <div class="overlay-box medium">
      <div class="overlay-box-header">
        <h3>New Card</h3>
        <img src="../assets/icon/check.png">
        <img src="../assets/icon/close.png" v-on:click="close">
      </div>
      <form class="overlay-box-content medium">
        <div class="i-input">
          <span>Type</span>
          <select>
            <option>Story</option>
            <option>Defect</option>
          </select>
          <color-picker></color-picker>
        </div>
        <div class="i-input">
          <span>Title</span>
          <input type="text" class="width-full">
        </div>
        <div class="i-input">
          <span>Description</span>
          <textarea></textarea>
        </div>
        <div class="i-input">
          <span>Priority</span>
          <input type="text">
        </div>
        <div class="i-input">
          <span>Size</span>
          <input type="text">
        </div>
        <div class="i-input">
          <span>Assigned Members</span>
          <div class="tag-holder">
            <div class="tag-item">John Doe<img src="../assets/icon/minus.png"></div>
            <div class="tag-item">WannaCry<img src="../assets/icon/minus.png"></div>
          </div>
          <div class="i-input-button"><img class="tag-input" src="../assets/icon/add-person.png"></div>
        </div>
        <div class="i-input">
          <span>Attachments</span>
          <div class="tag-holder">
          </div>
          <div class="i-input-button"><img src="../assets/icon/attachment.png"></div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import ColorPicker from "./color-picker.vue";

export default {
  components: {
    ColorPicker
  },
  methods: {
    close: function() {
      this.$parent.addingNewCard = false;
    }
  }
}
</script>
