<template>
  <div class="color-picker">
    <div class="color white"><div></div></div>
    <div class="color blue"></div>
    <div class="color green"></div>
    <div class="color yellow"></div>
    <div class="color orange active"></div>
    <div class="color red"></div>
  </div>
</template>

<style>
.color-picker {
  float: right;
}

.color-picker .color {
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: 5px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.color-picker .color.active, .color-picker .color:hover {
  border: none;
  margin-top: 0;
}

.color-picker .color.white > div {
  background-color: #fff;
  border: 1px solid #a1a1a1;
  width: 100%;
  height: 100%;
}

.color-picker .color.blue {
  background-color: #54c7fc;
}

.color-picker .color.green {
  background-color: #44db5e;
}

.color-picker .color.yellow {
  background-color: #ffcd00;
}

.color-picker .color.orange {
  background-color: #ff9600;
}

.color-picker .color.red {
  background-color: #ff2851;
}
</style>
