<script>
import Side from './side.vue'
import Register from './register.vue'
import Login from './login.vue'

export default {
  components: {
    Side,
    Register,
    Login
  },
  mounted() {
    if (localStorage.getItem('token')) {
      this.$router.push({
        name: 'project'
      })
    }
  }
}
</script>

<template>
  <div>
    <side></side>
    <div id="home">
      <p><strong>Modernize work management to deliver your customer value faster and easier, based on the beauty of traditional Kanban Board, and created with intuitive characteristics in mind:</strong></p>
      <ul>
        <li>
          VISUALIZABLE
          <span>Easily understand your workflow presented in nice boards and charts</span>
        </li>
        <li>
          COWORKING
          <span>Work together with your members as a team in realtime environment</span>
        </li>
        <li>
          SIMPLE
          <span>Learn quickly and use the app as a pro with simple UI and clean UX</span>
        </li>
        <li>
          EFFECTIVE
          <span>Have desired functionalities in your hand to manage your workflow</span>
        </li>
      </ul>
      <br>
      <p><strong>Interesting enough? Fill in your information and start your experience with us now:</strong></p>
      <register></register>
      <br>
      <br>
      <p><strong>Already a member? Login:</strong></p>
      <login></login>
    </div>
  </div>
</template>

<style>
#home {
  margin: 0;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 60px;
  right: 0;
  bottom: 0;
  text-align: justify;
}

#home ul {
  list-style: none;
  margin: 0;
}

#home ul li {
  padding-bottom: 10px;
}

#home ul li span {
  display: block;
  font-style: italic;
}
</style>
