<template>
  <form>
    <p class="error-message">{{ signinErrorMessage }}</p>
    <input type="text" placeholder="yours@email.address" class="text only-border-bottom width-small" v-model="signinData.email">
    <br>
    <input type="password" placeholder="password" class="text only-border-bottom width-small" v-model="signinData.password">
    <br>
    <input type="button" value="Sign-in" v-on:click="signin">
  </form>
</template>

<<style>
.error-message {
  color: red;
}
</style>

<script>
export default {
  data() {
    return {
      signinData: {
        email: "",
        password: ""
      },
      signinErrorMessage: ""
    }
  },
  methods: {
    signin: function() {
      this.$http.post('http://localhost:3000/access', {
        email: this.signinData.email,
        password: this.signinData.password
      }).then(response => {
        if (response.body.success) {
          this.signinErrorMessage = ""
          localStorage.setItem('token', response.body.token)
          this.$router.push({
            name: 'project'
          })
        } else {
          this.signinErrorMessage = response.body.message;
        }
      })
    }
  }
}
</script>