<template>
  <div id="logo"><router-link to="/">myStories</router-link></div>
</template>

<style>
#logo {
  position: relative;
  top: 80px;
  font-family: 'Acme', sans-serif;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform: rotate(-90deg);
}
</style>
