<template>
    <ul class="nav">
      <router-link tag="li" to="/project" active-class="active">
        <span>P</span>
        <span>R</span>
        <span>O</span>
        <span>J</span>
        <span>E</span>
        <span>C</span>
        <span>T</span>
      </router-link>
      <router-link tag="li" to="/board" active-class="active">
        <span>B</span>
        <span>O</span>
        <span>A</span>
        <span>R</span>
        <span>D</span>
      </router-link>
    </ul>
</template>

<style>
.nav {
  position: relative;
  top: 150px;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  overflow: hidden;
  width: 50px;
  font-size: 10px;
  font-family: 'Acme', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #606060;
}

.nav li {
  position: relative;
  padding: 5px 0;
  margin-left: 3px;
  line-height: 14px;
  border-left: 8px solid #fff;
}

.nav li:hover {
  cursor: pointer;
  color: #000;
}

.nav li.active {
  background-color: #fff;
  border-left: 8px solid #ff9600;
  font-weight: bold;
  box-shadow: -1px 0 1px 1px rgba(0, 0, 0, 0.1);
}

.nav li span {
  display: block;
  padding-left: 14px;
}
</style>
