<template>
  <div class="overlay">
    <div class="overlay-box medium">
      <div class="overlay-box-header">
        <h3>New Project</h3>
        <img src="../assets/icon/check.png">
        <img src="../assets/icon/close.png" v-on:click="close">
      </div>
      <form class="overlay-box-content medium">
        <div class="i-input">
          <span>Name</span>
          <input type="text">
        </div>
        <div class="i-input">
          <span>Description</span>
          <textarea></textarea>
        </div>
        <div class="i-input">
          <span>Card Types</span>
          <div class="tag-holder">
            <div class="tag-item">User Story</i><img src="../assets/icon/minus.png"></div>
            <div class="tag-item">Defect<img src="../assets/icon/minus.png"></div>
          </div>
          <div class="i-input-button"><img src="../assets/icon/add.png"></div>
        </div>
        <div class="i-input">
          <span>Card Groups</span>
          <div class="tag-holder">
            <div class="tag-item">New - <i>Group of items that must be done</i><img src="../assets/icon/minus.png"></div>
            <div class="tag-item">Doing - <i>Group of items that are being done by members</i><img src="../assets/icon/minus.png"></div>
            <div class="tag-item">Done - <i>Group of items that had been done</i><img src="../assets/icon/minus.png"></div>
          </div>
          <div class="i-input-button"><img src="../assets/icon/add.png"></div>
        </div>
        <div class="i-input">
          <span>Members</span>
          <div class="tag-holder">
            <div class="tag-item">John Doe<img src="../assets/icon/minus.png"></div>
            <div class="tag-item">Star Performer<img src="../assets/icon/minus.png"></div>
            <div class="tag-item">Iron Man<img src="../assets/icon/minus.png"></div>
            <div class="tag-item">Black Widow<img src="../assets/icon/minus.png"></div>
            <div class="tag-item">Joker<img src="../assets/icon/minus.png"></div>
            <div class="tag-item">WannaCry<img src="../assets/icon/minus.png"></div>
            <div class="tag-item">FBI<img src="../assets/icon/minus.png"></div>
          </div>
          <div class="i-input-button"><img class="tag-input" src="../assets/icon/add.png"></div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    close: function() {
      this.$parent.showingProfile = false;
    }
  }
}
</script>
