<template>
  <div class="list">
    <div class="list-item" v-for="project of this.$router.data.projects">
      <span class="main-info" v-on:click="show">{{ project.name }}</span>
      <span class="sub-info"><img src="../assets/icon/clock.png">last updated on {{ new Date(project.last_update_date).toUTCString() }}</span>
      <span class="sub-info"><img src="../assets/icon/clock.png">since {{ new Date(project.creation_date).toUTCString() }}</span>
      <span class="sub-info"><img src="../assets/icon/people.png">{{ project.members.length }} member(s)</span>
    </div>
  </div>
</template>

<style>
.list {
  padding: 10px 30px;
}

.list-item {
  height: 40px;
  line-height: 40px;
  overflow: auto;
}

.list .list-item .main-info {
  color: #333;
  padding-right: 10px;
}

.list .list-item .main-info:hover {
  color: #000;
  cursor: pointer;
}

.list .list-item .sub-info {
  font-size: 12px;
  font-style: italic;
  padding-right: 10px;
}

.list .list-item .sub-info.right {
  float: right;
  padding: 0;
  padding-left: 10px;
}

.list .list-item .sub-info img {
  width: 10px;
  height: 10px;
  margin-right: 4px;
}
</style>

<script>
export default {
  methods: {
    show() {
      this.$parent.showingProfile = true;
    }
  }
}
</script>