<template>
  <form>
    <input type="text" placeholder="Your Full Name" class="text only-border-bottom width-small">
    <br>
    <input type="text" placeholder="yours@email.address" class="text only-border-bottom width-small">
    <br>
    <input type="password" placeholder="Password" class="text only-border-bottom width-small">
    <br>
    <input type="password" placeholder="Confirm Your Password" class="text only-border-bottom width-small">
    <br>
    <input type="button" value="Sign-up">
  </form>
</template>
