<template>
  <div id="side">
    <logo></logo>
    <div v-if="this.$route.name !== 'home'">
      <navigator></navigator>
      <avatar></avatar>
    </div>
  </div>
</template>

<style>
#side {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  background-color: #fafafa;
  height: 100%;
}
</style>

<script>
import Navigator from './navigator.vue'
import Avatar from './avatar.vue'
import Logo from './logo.vue'

export default {
  components: {
    Navigator,
    Avatar,
    Logo
  }
}
</script>